@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital,wght@1,300&display=swap');
:root {
    --cor-principal: #000000;
    --cor-secundaria: #EFA3C8;
    --cor-terciaria: #ffffff;
    --cor-hover: #272727;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-texto: 'Roboto', sans-serif;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    
}

.cabecalho {
    padding: 1.5em 0 0 4.5em;
    border-bottom: 2px solid var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    gap: 3em;
    
}

.cabecalho__menu__link {
    font-family: var(--fonte-titulo);
    font-size: 16px;
    margin-bottom: .5em;
    text-decoration: none;
    color: var(--cor-secundaria);
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 2em;
  
    
}

.titulo {
    color: var(--cor-secundaria);
    font-size: 2.5em;
    margin-bottom: 0.7em;
    text-align: center;
    font-family: var(--fonte-titulo);
    
}
span {
    color: var(--cor-terciaria);
    font-weight: bold;

}
.container__conteudo {
    padding: 2em;
    width: 50%;
}

.texto {
    font-size: 1.5em;
    text-align: justify;
    font-family: var(--fonte-texto);
    margin-bottom: 1.5em;
}


.foto_perfil {
    width: 30%;
    border-radius: 50%;
    margin-right: 8em;
    
}

.titulo__link {
    font-family: var(--fonte-texto);
    font-size: 1.5em;
    
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.botoes__link {
    border: 2px solid var(--cor-secundaria);
    width: 30%;
    padding: 1em 2em;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 10px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-texto);
    font-weight: bold;
}

.botoes__link:hover {
    background-color: var(--cor-hover);
}

.rodape {
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
    padding: 0.5em;
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 16px;
    font-weight: bold;
    margin-top: 2em;
}

.cabecalho__menu__link:hover {
    color: var(--cor-terciaria);
}


.titulo__sobremim {
    color: var(--cor-terciaria);
    font-size: 1.5em;
    padding: 2em 0 1em 3em;
    font-family: var(--fonte-titulo);
} 

@media (max-width: 1020px) {
    .cabecalho {
        padding: 6%;

    }

    .cabecalho__menu {
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        padding: 1em;
    }

    .container__conteudo {
        width: auto;
    }

    .foto_perfil {
        margin: 0;
    }
    
    
}